extends layout

block content
  .container(style="margin-top:100px")
    h1= typeof message !== 'undefined' ? message : 'Something went wrong'
    h2 Error: #{typeof error !== 'undefined' && error.status ? error.status : 500}
    if error && error.stack
      pre #{error.stack}
