extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1(style="margin-top:100px") Submit a Review

    .row
      .col-md-6.col-sm-12
        form(action="/submit_review", method="POST", role="form")
          .form-group
            label(for="name") Name :
            input.form-control(type="text", id="name", name="name", required)

          .form-group
            label(for="email") Email :
            input.form-control(type="email", id="email", name="email", required)

          .form-group
            label(for="rating") Rating (1–5) :
            input.form-control(type="number", id="rating", name="rating", min=1, max=5, required)

          .form-group
            label(for="review") Review :
            textarea.form-control(id="review", name="review", rows="5", required)

          button.btn.btn-primary(type="submit") Submit
          &nbsp;
          a.btn.btn-default(href='/') Cancel
